@import url('https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:700i,900&display=swap');


* {
	margin:	0;
	padding: 0;
	box-sizing: border-box;
}

img {
	 
}

header {
	background-color: none;
	border: 1px black solid;
	padding: 20px;
}

header img {
	width: 297px;
	/*padding: 20px;*/
	margin-left: auto; 
	margin-right: auto;
	
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	color:#000;
	text-transform:uppercase;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration: none;
    border:none;
    background-color: none;
    display: block;
}



footer {
	text-align: center;
	color: rgba(102,102,102,.6);
	font-weight:100;
	line-height: 1.5em;
	font-size: 1em;
	background-color: none;
	border: none;
	padding: 20px;
}


body h1 {
	font-family: gentium basics, sans;
	

}

h1	{
	padding: 5px;
	font-weight: none; 
	font-style: none;
	font-size: 2em;
	position: relative;
	text-align: auto;
}


main {
	background-color: none;
	border: 0;
	padding: 20px;
}
 
h2 {
	font-size: 2.25em;
	font-family: 'Roboto', sans-serif;
	/*font-weight: 200; */
	letter-spacing: 2px;
	text-decoration: none;
	background-color: none;
	/*margin: 0; 
	padding: 0;*/
	background-color: none;
}

p {
	font-size: 1em;
	line-height: 1.6em;

}

h3 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	background-color: none;
	font-style: bold;
}

a {
	text-decoration: none;
	color: #000;
}

em {
	font-weight: bold;
}

.wrapper {
	width: 90%;
	margin: auto;
	background-color: none;
}

.images img {
	max-width: 600px;
	margin: auto;
	padding: 20px;

}

.imageinfo{
	width: 22%;
	margin: 1.5%;
	float: right;
}

.policy {
	font-family: 'Open Sans', sans-serif;
	color:#000;
	text-transform:uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	text-decoration: none;
    border:none;
    background-color: none;
}
/* continue tomorrow*/
.social-list img {
	width: 60px; 
}

.rivai {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#two_column {
	background-color: none;
	border: 1px black solid;
	padding: 90px
}

#left {
	background-color: none;
	border: 1px black solid;
	padding: 128px 43px;
	float: left;
	width: 49%;
}

#right {
	background-color: rgba(128,128,128, .5);
	border: 1px black solid;
	padding: 128px 157px;
	float: right;
	width: 50%;

}

