@import url('https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


img {
	width: 300px;
}

.navlinks{
	font-family: open sans, sans-serif;
	color:#000;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	padding:20px;
	margin:auto;
    border:none;
}

