@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');


* {
	margin:	0;
	padding: 0;
	box-sizing: border-box;
}


header {
	border: none;
	padding: 1em;
}

header img  {
	padding: 1em 0; 
}


nav, .policy {
	font-family: 'Open Sans', sans-serif;
}



nav {
	text-transform:uppercase;
	text-align: inherit;
	letter-spacing: 0.2em;
    border:none;
    display: block;
}


a {
	text-decoration: none;
	color: #000;
	padding: 0.8em;
}

a:hover {
  color: rgba(127, 135, 120, 0.9);
  background-color: rgba(205, 205, 205, 0.9);
}

body {
	font-family: 'Gentium Basic', serif;
	

}

h1	{
	font-size: 1.3em;
	padding: 0 0 0.2em;
}

hr {
	background-color: rgba(228, 228, 228,0.9);
	border: none;
	height: 1em;
}

main {
	padding: 1em;
}

h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
} 

 
h2 {
	text-align: center;
	font-size: 2.5em;
}


em {
	font-weight: bold;
	font-size: 1.4em;
	padding: 0.1em;
	font-family: 'Playfair Display', serif;
}

p {
	line-height: 1.6em;
}

h3 {
	text-decoration: none;
	background-color: none;
	font-style: bold;
	font-size: 1.6em;
	padding-bottom: 0.75em;
}
 
h4 {
	font-size: 1.25em;
	text-align: center;
	margin: 1.5em;
}

form {
    padding: 3em;
    text-align: center;
    background-color: rgba(228, 228, 228,0.9); 
    font-family: 'Roboto', sans-serif;
}

form p {
	font-weight: bolder;
}

footer {
	text-align: center;
	color: rgba(102,102,102,.6);
	font-weight:100;
	line-height: 1.5em;
	font-size: 1em;
	background-color: none;
	border: none;
	padding: 1.25em;
}

input {
	line-height: 1.5em;
}

#left {
	float: left;
	text-align: center;
	padding: 8em 6em;
	width: 50%;
}

#right {
 	float: right;
    width: 50%;
    left: 50%;
    padding: 10em;
   	background-image: url(../images/beach_fog.jpg);
    color: rgba(0,1.0);
    background-size: cover;

}

#right p, h1 {
	font-family: 'Montserrat', sans-serif;
}


.wrapper {
	width: 100%;
}



.images img {
	margin: 2em 0;
	position: relative;
	width: 50% 
}


.imageinfo{
	float: right;
	width: 50%;
	padding: 9em 0;
	text-align: center;
}

.imageinfo p {
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 1.06em;
}


.social-list img {
	width: 4%; 
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}




@media only screen and (max-width: 1600px) {
	#left {
		width: 50%;
	}

	#right {
   		width: 50%;
   		padding: 10em;
   	}
    
}

@media only screen and (max-width: 1594px) {
	#left {
		padding: 7em 6em;
	}

	#right {
   		padding: 9em;
   	}
}

@media only screen and (max-width: 1565px) {
	.imageinfo {
		padding: 8em 0;
	}
}

@media only screen and (max-width: 1508px) {
	.imageinfo {
		padding: 8em 0;
	}
}

@media only screen and (max-width: 1531px) {
	#left {
		padding: 5em 6em;
	}

	#right {
   		padding: 6em;
   	}
}

@media only screen and (max-width: 1469px) {
	.imageinfo {
		padding: 10em 2em;
	}
}

@media only screen and (max-width: 1386px){
	.imageinfo {
		padding: 9em 2em;
	}

}

@media only screen and (max-width: 1364px) {
	#left {
		width: 100%;
		padding: 3em 0;
	}

	#right {
		text-align: center;
   		padding: 7em;
   		width: 100%;
   	}

   	h2 {
   		font-size: 2.2em;
   	}
}

@media only screen and (max-width: 1350px) {
	.imageinfo {
		float: none;
		transform: translateX(50%);
		padding: 0;
	}

	h3 {
		text-align: center;
	}

	.images img {
		width: 50%;
		transform: translateX(50%);
	}
}

@media only screen and (max-width: 990px) {
	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em
	}

	em {
		font-size: 1.2em;
	}

	.images img {
    width: 56%;
    transform: translateX(39%);
}

}

