@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700i,900&display=swap');


* {
	margin:	0;
	padding: 0;
	box-sizing: border-box;
}


header {
	background-color: none;
	border: none;
	padding: 1em;
}

header img {
	width: 30%;
}

nav {
	background-color: none;
	border: none;
	padding: 1em;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	text-align: inherit;
	letter-spacing: 0.2em;
	text-decoration: none;
    border:none;
    display: block;
}


a {
	text-decoration: none;
	color: #000;
	padding: 1em;
}


body h1 {
	font-family: gentium basics, sans;
	

}

h1	{
	padding: 0.1em;
	font-weight: none; 
	font-style: none;
	font-size: 2em;
	position: relative;
	text-align: auto;
}

hr {
	background-color: rgba(228, 228, 228,0.9);
	border: none;
	height: 1em;
}

main {
	padding: 1.25em;
}


 
h2 {
	font-size: 2.25em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
}


em {
	font-weight: bold;
	font-size: 1.4em;
	padding: 0.1em;
}

p {
	font-size: 1em;
	line-height: 1.6em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.1em;
	text-decoration: none;
	background-color: none;
	font-style: bold;
	font-size: 1.6em;
	padding-bottom: 12px;
}
 
h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	text-align: center;
}

form {
	margin: 1.5em;
    padding: 0;
    line-height: 1.4em;
    text-align: center;
    background-color: rgba(228, 228, 228,0.9); 
}

footer {
	text-align: center;
	color: rgba(102,102,102,.6);
	font-weight:100;
	line-height: 1.5em;
	font-size: 1em;
	background-color: none;
	border: none;
	padding: 1.25em;
}


.wrapper {
	width: 100%;
	margin: auto;
	background-color: none;
}


.images img {
	margin: 2em 0;
	position: relative;
}

.imageinfo{
	float: right;
	width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.policy {
	font-family: 'Open Sans', sans-serif;
	color:#000;
	text-transform:uppercase;
	font-weight: 200;
	letter-spacing: 0.1em;
	text-decoration: none;
    border:none;
    background-color: none;
    font-size: 1em;
    text-align: center;
}

.social-list img {
	width: 4%; 
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


#left {
	float: left;
	width: 50%;
	position: inherit;
}

#right {
	float: right;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateY(50%);
    padding: 0 2em;
    background-image: url(../images/beach_day.jpg);
    color: rgba(255,255,255,1.0);
    background-color: rgba(228, 228, 228, 0.9);
    background-size: cover;
    background-color: 
}

/*@media only screen and (max-width: 1281px) {
	#right {
		width: 51%;

	}
}

@media only screen and (max-width: 1350px) {
	nav {
		width: 90%;
	}

	a {
		line-height: 2em;
	}
}*/



